*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    width: 100vw;
    height: 12vh;
    position: fixed;
    z-index:2;
    background-color: lightgrey;

    display: grid;
    grid-template-columns: repeat(4,1fr);

}

.menuitem{
    width: 100%;
    height: 100%;
    font-size: 2rem;
    display: grid;
    place-items: center;
    border-right: 1px solid black;

    cursor: pointer;
    transition: 0.3s all ease-in-out;

}

.menuitem:hover{
    border-bottom: 6px solid black;
    font-size: 2.4rem;

}

.menuitem.active{
    border-bottom: 6px solid red;
}

.page{
    position: fixed;
    left:100vw;
    width: 100vw;
    height: 88vh;
    top: 12vh;
    overflow: hidden;
    display: grid;
    place-items: center;
    transition: 0.6s all ease-in-out;
}

.visible{
    left:0;
}

.box{
    width:80%;
    height: 80%;
    display: grid;
    place-items: center;
    border: 1px solid;
    position: relative;
}

.absolute{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    color: rgb(125, 0, 156);
}

.fixed{
    position: fixed;
    top: 2rem;
    left: 2rem;
    font-size: 4rem;
    font-variant: small-caps;
    text-shadow: 4px 4px black;

    color: aliceblue;
}

#imagebox{
    background-image: url(./assets/joel-filipe-QwoNAhbmLLo-unsplash.jpg);
    background-size: cover;
    background-position: center center;

    color: white;   
}

.halfbox{
    grid-template-columns: 1fr 1fr;
}

#rightimage{
    height: 100%;
    width: 100%;
    background-image: url(./assets/nasa-8Hjx3GNZYeA-unsplash.jpg);
    background-size: cover;

}

#page1{
    background-color: lightskyblue;
}

#page2{
    background-color: gray;
}

#page3{
    background-color: purple;

    grid-template-columns: 4fr 2fr 1fr;
}

#page3 div{
    width: 100%;
    height: 100%;

}

#page4{
    background-color: rgb(97, 17, 17);
}

h1{
    color:greenyellow;
    font-family: Raleway;
}